.footer-container {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.footer-nav {
  margin: 0 30px;
  color: white;
  margin-top: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav-list {
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.footer-icon {
  font-size: 40px;
  padding-left: 10px;
  color: white;
}

.footer-image-wrapper {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -120px;
  box-shadow: 1px 1px 10px 1px rgb(91, 119, 211);
}
.footer-image-holder {
  width: 2100px;
  height: 550px;
  border: 0;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
}
.footer-image-viewer {
  width: 2100px;
  height: 2000px;
  border-radius: 50%;
  background-color: #5f906a;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -380px;
  top: 260px;
  bottom: --50px;
}
.footer-image {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 90px;
}
